
body {
  font-family: Poppins;
}
#WrapperTemplate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1320px;
  justify-content: center;
}
#Players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1700px;
  justify-content: center;
  margin-left: 7%;
  margin-top: 12.5%;
  transition: opacity 0.4s;
}
/* center playerDiv in a 5 column design */
#playerDivTemplate {
  display: block;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 25px
}
#playerText {
  border-radius: 10px;
  min-width: 250px;
  max-width: 250px;
  min-height: 60px;
  max-height: 60px;
  text-align: center;
  background: linear-gradient(rgb(94 22 22) 0%, rgb(58 30 30));
  color: white;
  overflow: hidden;
}

/* Align playerName to left and playerScores to right on same line*/
#playerImage {
  display: inline;
  float: left;
  margin-top: -9px;
  margin-left: -22px;
  height: 72px;
  opacity: 0.6;
  width: 72px;
  border-style: solid;
  border-color: #8d1a1a;
  border-width: 2px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 57%);
}

#playerName {
    font-weight: 600;
    text-align: left;
    position: absolute;
    float: left;
    padding-left: 52px;
    padding-top: 2px;
    max-width: 180px;
    min-width: calc(10%);
    white-space: nowrap;
    text-shadow: -2px 2px 7px black;
    -webkit-mask-image: linear-gradient(90deg, #000 85%, transparent);
}

#playerScore {
    float: right;
    padding-top: 3px;
    padding-right: 25px;
    opacity: 1;
}