* {
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  overflow: hidden;
}
.BGImage {
  width: 100%;
  height: 100%;
  background: url("../images/Background.png");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}
.fade-inImages {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5 ease-in-out;
}
.PlayerContainers {
  position: absolute;
  top: 26px;
  left: 60px;
}
.Player1Container {
  transition: opacity 0.5s linear;
  opacity: 0;
}
.Player1Class {
  width: 538px;
  height: 90px;
  opacity: 1;
  position: absolute;
}
.Player1Image {
  width: 90px;
  height: 90px;
  box-shadow: 2px 7px 11px rgb(0 0 0);
  background: linear-gradient(180deg, #ff6161, #DF8585) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
}
.Player1Name {
  direction: ltr;
  max-width: 127%;
  overflow: hidden;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15%;
  left: 20%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.Player1Rank {
  width: 427px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60%;
  left: 20%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  opacity: 0.6;
}
.Player2Container {
  transition: opacity 0.5s linear;
  opacity: 0;
}
.Player2Class {
  padding-left: 1710px;
  width: 538px;
  height: 90px;
}
.Player2Name {
  max-width: 40%;
  overflow: hidden;
  direction: rtl;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15%;
  right: 1%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.Player2Rank {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60%;
  right: 1%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.6;
  text-align: right;
}
.Player2Image {
  width: 90px;
  height: 90px;
  box-shadow: 2px 7px 11px rgb(0 0 0);
  background: linear-gradient(165deg, #7070ff, #cc7ffc) border-box;
  border: 4px solid transparent;
  border-radius: 50%;
}

#Songs {
  display: flex;
  max-width: 100%;
  margin-top: 13%;
  margin-left: 2.2%;
  transition: opacity 0.4s;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#WrapperTemplate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1320px;
  justify-content: center;
}

.SongBox {
    transition: opacity 0.5s ease 0s;
    display: block;
    margin-top: 14px;
    margin-right: 30%;
    margin-bottom: 8%;
}
.SongCard {
  min-width: 529px;
  max-width: 529px;
  min-height: 214px;
  max-height: 214px;
  position: absolute;
  -webkit-transition: all 0.7s ease-out;
     -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
       -o-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;

}
.SongCover {
  width: 144px;
  height: 142px;
  background: url("../images/songPlaceholder.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 5px solid;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-right: 1px solid;
  border-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.SongInfo {
  width: 378px;
  height: 142px;
  background: rgb(0 0 0 / 79%);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 143px;
  border: 5px solid;
  border-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.DiffTag {
  width: 67px;
  height: 26px;
  background: #039a00;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 158px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
   -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
       transition: all 0.7s ease-out;

}
.DiffText {
  width: 54px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 104px;
  left: 165px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
   -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
       transition: all 0.7s ease-out;

}
.SongArtist {
  width: 240px;
  max-width: 240px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 158px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}
.SongTitle {
  width: 340px;
  max-width:280px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 39px;
  left: 158px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}
.SongPick {
  position:
  absolute;
  top: 40px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius:50%;
  border:3px solid
  rgb(189, 183, 183);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Fit image in height width correctly */
  /* background-image: url("../Images/Tiebreaker.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 0.7s ease-out;
     -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
       -o-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;

  opacity: 0;
}
.SongMapper {
  width: 309px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 72px;
  left: 158px;
  font-family: Poppins;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);
}
.SongKey {
  width: 49px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.SongLength {
  width: 37px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 109px;
  left: 463px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.SongScrollTitle {
  width: 30%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 980px;
  left: 24px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}