body {
  /*Hide scrollsbars*/
  overflow: hidden;
}

#Background {
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../images/BG.png");
  height: 11vh;
  width: 100%;
  z-index: -1;
}

.fade-inImages {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

section.rightPoints {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

section.leftPoints {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.PlayerContainers {
}

.Player1Container {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.Player1Class {
  opacity: 1;
}

.Player1Image {
  position: absolute;
  left: 0.7%;
  top: 1.5%;
  width: 90px;
  height: 90px;
  box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 50%);
  border-radius: 50%;
}

.Player1Name {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2%;
  left: 6%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}

.Player1Rank {
  width: 427px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 6%;
  left: 6%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  opacity: 0.6;
}

.Player2Container {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.Player2Class {
  opacity: 1;
}

.Player2Name {
  direction: rtl;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2%;
  right: 6%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  opacity: 1;
}

.Player2Rank {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 6%;
  right: 6%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.6;
  text-align: right;
}

.Player2Image {
  position: absolute;
  right: 0.7%;
  top: 1.5%;
  width: 90px;
  height: 90px;
  box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 50%);
  border-radius: 50%;
}

.SongBox {
  width: 530px;
  height: 160px;
  opacity: 1;
  position: absolute;
  top: 912px;
  right: 20px;
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition: opacity 1s;
}

.SongCard {
  width: 529px;
  height: 214px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.SongCover {
  width: 144px;
  height: 142px;
  background: url("../images/songPlaceholder.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: #039a00;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  transition-timing-function: ease-in-out;
  transition: border-color 1s;
}

.SongInfo {
  width: 378px;
  height: 142px;
  background: rgb(0 0 0 / 79%);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 143px;
  border: 3px solid;
  border-color: #039a00;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-timing-function: ease-in-out;
  transition: border-color 1s;
}

.DiffTag {
  width: 67px;
  height: 26px;
  background: #039a00;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 158px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  transition: opacity 1s;
  transition-timing-function: ease-in-out;
  transition: background 1s;
}

.DiffText {
  width: 54px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 104px;
  left: 165px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  transition: opacity 1s;
}

.SongArtist {
  width: 203px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 158px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 81%, transparent);
}

.SongTitle {
  width: 340px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 39px;
  left: 158px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 81%, transparent);
}

.SongMapper {
  width: 309px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 72px;
  left: 158px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(90deg, #000 81%, transparent);
}

.SongKey {
  width: 49px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15px;
  left: 450px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}

.SongLength {
  width: 37px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 109px;
  left: 463px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}

.SongPick {
	color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 104px;
    left: 233px;
    font-family: Poppins;
    font-size: 13px;
    opacity: 1;
    text-align: right;
}

.PlayerBounds {
  position: absolute;
  top: 66%;
  transition-timing-function: ease-in-out;
  transition: opacity 1s;
}

.Player1Classs {
  /* padding-left: 05%; */
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.Player1Combo {
  width: 445px;
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 48px;
  opacity: 1;
  line-height: 0%;
  padding-top: 9%;
  padding-bottom: 12%;
}
.Player1FC {
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 32px;
  opacity: 1;
  line-height: 0%;
  padding-left: 1%;
}
.Player1ACC {
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 64px;
  opacity: 1;
  line-height: 0%;
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.Player1Flag {
  width: 28px;
  height: 28px;
  top: 7%;
  left: 4%;
  position: absolute;
  z-index: 1;
  border-radius: 70px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 50%);
  object-fit: cover;
}

.Player2Classs {
  position: absolute;
  right: -1%;
  display: flex;
  align-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

.Player2Combo {
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 48px;
  opacity: 1;
  direction: rtl;
  position: absolute;
  top: 2px;
}
.Player2FC {
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 32px;
  opacity: 1;
  direction: rtl;
  position: absolute;
  top: -24px;
}
.Player2ACC {
  color: rgba(255,255,255,1);
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 64px;
  opacity: 1;
  direction: rtl;
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
  position: absolute;
  top: 44px;
}

.Player2Flag {
  width: 28px;
  height: 28px;
  top: 7%;
  right: 4%;
  position: absolute;
  z-index: 1;
  border-radius: 70px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 50%);
  object-fit: cover;
}